.container-card-service a{
    text-decoration: none;
    color: black;
    box-shadow: inset 0px -6px 0px 0px #b0e9ec;
}

.container-card-service a:hover{
    color: black;
}
.container-card-service img{
    height: 500px;
}

.container-card-service img:hover{
    width: 390px;
    height: 600px;
    overflow-x: hidden;
}